<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>
<body class = "  overflowxhidden height100">
    <%- include('../partials/banner'); %>


    <%if (userinfo.userlevel == "Admin\r") {%>
        <input class = " block overlayinputinputbutton anchorbutton" id = "MagazineAdmin" type="Button" value="Admin">
        <%  }%>

        <div class = "width100 height10 block flexcentralalign">
            <h1 class = "block width100 textaligncenter smalllinehight" > Magazines</h1>
            <p class = "block width100 textaligncenter smalllinehight" > Browse our magazine subscriptions</p>
        </div>
        <div id ="ContentContainer" class = "flex wrap width90 height100  padtop2">
          
   
            <% Magazinelist.forEach((magazine) => {  %>   
   
<div class = "width15 height40 colorPrimary block colorSecondary dropshadow">

    <div class = "flex flexcolumn no-wrap width100 height100 ">
<div class = "block width100 height50 colorPrimary ">
  
</div>
<h3 class="block width100 textaligncenter height10  smalllinehight  marginbottom " ><%=magazine.Magazine_Name%></h3>
<p class = "block width100 height5  textaligncenter padleft"><%=magazine.Magazine_Frequency%></p>

<div class = "flex width100 height10  no-wrap flexcentralalign">
<p class = "block width50  textaligncenter padleft">Annual £<%=magazine.Magazine_AnnualPrice%></p>
<p class = "block width50  textaligncenter padleft">Monthly £<%=magazine.Magazine_MonthlyPrice%></p>


</div>
<div class = "flex width100 height20 flexcentralalign">
    <input class = "width60  block overlayinputinputbutton position-relative" id = "addview" type="Button"  value="Subscribe" onclick="onSubscribe('<%=magazine.Magazine_ID%>')">
</div>
</div>    

</div>
<% }) %> 
        
        </div>











        <script src="JS/SubscriptionPost.js"></script>
  
</body>

<footer>
 
</footer>




</html>